@import url('https://fonts.googleapis.com/css2?family=Miltonian+Tattoo&display=swap');

body {
  margin: 0;
  font-family: 'Miltonian Tattoo', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100vw;
  height: max(100vh, max-content);
  background: #1e1c1c url(../public/images/poke_bg.jpeg) center center/cover no-repeat;
  backdrop-filter: blur(5px);
  color: white;
}